<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Herramientas Mapa de Inversión Social - DGISE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg  bg-info">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Exportar CSV</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Mapeador</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Ir a
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/mapa">Mapa público</a></li>
                <li><a class="dropdown-item" href="/dashboard/list">Listado de dashboards</a></li>
                <li><a class="dropdown-item" href="/superset/dashboard/86/">Mapa interno</a></li>
              </ul>
            </li>
          </ul>

        </div>
      </div>
    </nav>

    <div class="container my-5">
      <h2>Exportador CSV</h2>
      <!-- <form method="post" enctype="multipart/form-data"> -->
        <div class="mb-3">
          <label for="form-file" class="form-label">excel, csv, o algo</label>
          <input class="form-control form-control-lg" id="form-file" name="file" type="file" accept=".xls,.xlsx">
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-info" id="btn">Procesar</button>
        </div>
      </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script>
let btn = document.getElementById('btn');
let fileSelector = document.getElementById('form-file');


btn.addEventListener('click', (event) => {

  const formData = new FormData();
  formData.append("file", fileSelector.files[0]);

  const options = {
    method: 'POST',
    headers: {
      "Content-Type": fileSelector.files[0].contentType,
    },
    files: fileSelector.files[0],
    body: formData
  };

  fetch('http://localhost:8088/tools/csv-exporter', options)
    .then(response => response.blob())
    .then( blob => {
      var file = window.URL.createObjectURL(blob);
      window.location.assign(file);
    })
    .then(response => console.log(response))
    .catch(err => console.error(err));
});


    </script>
  </body>
</html>