{% extends 'tools/base.html' %}

{% block content %}

    <div class="container my-5">
      <h1>Herramientas Mapa de Inversión Social - DGISE</h1>
      <div class="row">
        <div class="col-sm-4">
          <div class="card my-2">
            <div class="card-body">
              <h5 class="card-title">Exportador de CSV</h5>
              <p class="card-text">Subís un excel, seteas algunas opciones, recibís un csv.</p>
              <a href="/tools/csv-exporter" class="btn btn-primary">Ir</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card my-2">
            <div class="card-body">
              <h5 class="card-title">Mapeador</h5>
              <p class="card-text">Reemplaza el mapeador viejo que teníamos que era lento, feo y coso.</p>
              <a href="/tools/mapear" class="btn btn-primary">Ir</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="card my-2">
            <div class="card-body">
              <h5 class="card-title">Mapa público</h5>
              <p class="card-text">Reemplaza el mapeador viejo que teníamos que era lento, feo y coso.</p>
              <a href="/mapa" class="btn btn-primary">Ir</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card my-2">
            <div class="card-body">
              <h5 class="card-title">Listado de dashboards</h5>
              <p class="card-text">Reemplaza el mapeador viejo que teníamos que era lento, feo y coso.</p>
              <a href="/dashboard/list/" class="btn btn-primary">Ir</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card my-2">
            <div class="card-body">
              <h5 class="card-title">Mapa interno</h5>
              <p class="card-text">Reemplaza el mapeador viejo que teníamos que era lento, feo y coso.</p>
              <a href="/superset/dashboard/86/" class="btn btn-primary">Ir</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
{% endblock %}